* {
  font-family: sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  width: 100%;
  padding: 0;
}
p {
  display: block;
  margin: 0;
}
select {
  padding: 2%;
  width: 30%;
  background: transparent;
  color: #BBBBBB;
}
select option {
    color: #BBBBBB;
}
.container-fluid {
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}
.fixed {
  position: fixed;
  bottom: 15px;
  /* right: 15px; */
}
.left {
  float: left;
}
.right {
  float: right;
}
.pull-right {
  right:15px;
}
.center {
  text-align: center;
}
.top-buffer {
  margin-top:15px;
  }
.panel-heading {
  background-color: rgb(247, 247, 247);
  /*background-color: #607D8B;*/
  color: ;
}
.panelCont {
  display: flex; /* or inline-flex */
  flex-direction: row;
}
.panelCont > div {
  padding-left: 5%;
}
.flexElmnt {
  display: flex;
}
.inputBuffer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 2%;
}
.bottomSpacer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  z-index: -999999;
  background-color: white;
}
.btn-newBooking {
  right:15px;
}
.custom-width-all {
  width: 100%;
}
.custom-width-big {
  width:79%;
}
.custom-width-small {
  width:19%;
}
.error {
  color: red;
}
.animate-show {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: inline-block !important;
}
.animate-show.ng-hide {
    opacity: 0;
}
#deleteBtn {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {  }
