body {
	padding:0px;
	margin:0px;
}

.carousel {
	height:100vh;
}

.carousel-cell {
	background: #1D1D1D;
	height:100%;
	width:100%;
	font-size:2em;
	color:#fff;
	display:flex;
	justify-content: center;
	align-items: center;
	background-size:cover;
	
}

h1 {
	visibility: hidden;
}

