<div class="container-fluid">
    <div class="jumbotron center top-buffer">
      <h2>Välkommen till Block!</h2>
    </div>
    <div class=""> <!--  Testar login från https://www.firebase.com/docs/web/libraries/angular/guide/user-auth.html -->
      <div ng-show="authData">
        <p>Hej, {{ authData.facebook.displayName }}!</p>
        <button class="btn btn-default" ng-click="auth.$unauth()">Logga ut</button>
        <button class="btn btn-success" ng-click="redirect()">Till listan</button>
      </div>
      <div ng-hide="authData">
        <button class="btn btn-primary" ng-click="auth.$authWithOAuthPopup('facebook')">Login med Facebook</button>
      </div>
    </div>  
</div>
