<div class="container-fluid">
    <div class="jumbotron center top-buffer">
      <h2>Du är inloggad!</h2>
    </div>
    <div class=""> <!--  Testar login från https://www.firebase.com/docs/web/libraries/angular/guide/user-auth.html -->
      <div ng-show="authData">
        <p>Hej, {{ authData.facebook.displayName }}!</p>
        <button class="btn btn-default" ng-click="auth.$unauth()">Logga ut</button>
        <button class="btn btn-success" ng-click="redirect()">Till listan</button>
      </div>
    </div>


</div>

<div id="fb-root"></div>

  <div class="ng-cloak" ng-show="user.connected">
  Hello {{user.first_name}}!
  </div>

  <div class="ng-cloak" ng-hide="user.connected">
    One moment please...
  </div>

  <script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
    FB.init({
      appId      : '137710999746808',
      status     : true,
      xfbml      : true
    });
</script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
  <script src="app.js"></script>
